@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

:root {
  --roboto: "Roboto", sans-serif;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Material Icons";
  font-display: block;
  src: url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
}

body {
  font-family: var(--roboto);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

button,
input[type="button"] {
  transition: all 0.2s ease-in-out;
}

.image_logo {
  height: 5rem;
  width: 5rem;
  text-align: center;
}

.logo {
  text-align: center;
  font-family: cursive, var(--roboto);
  font-size: 3rem;
  font-weight: 800;
  color: rgb(139, 35, 139) !important;
}

.error_message {
  font-size: 0.8rem;
  text-align: center;
}

.options,
.quiz,
.questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.category {
  position: relative;
  z-index: 1;
}

.option_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: violet;
  cursor: pointer;
}

.option_button:active,
.option_button:focus,
.option_button:visited,
.option_button:hover {
  background-color: rgb(99, 52, 99);
  color: white;
}

.button_arrow {
  font-display: block;
}

.select_options {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 220px;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 180, 255);
  transition: all 0.5s ease-in;
}

.input_group {
  padding: 0.2rem 0;
  font-size: 1.2rem;
}

.input_group_label {
  margin-left: 1rem;
}

.close_btn {
  display: block;
  text-align: right;
  cursor: pointer;
}

.close_btn-tags {
  position: fixed !important;
  top: 0.5rem;
  right: 0.5rem;
  margin-bottom: 1rem;
  text-align: right;
  cursor: pointer;
}

.animate-icon {
  transition: 0.4s;
}
.rotate {
  transform: rotate(90deg);
}

/*select difficulty*/

.select_button {
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.select_button:focus,
.select_button:hover,
.option_button:visited {
  border-bottom: 1px solid rgb(99, 52, 99);
}

.selected_difficulty,
.selected_tag {
  border-bottom: 1px solid rgb(99, 52, 99);
}

.limit {
  display: flex;
  flex-direction: column;
}

.limit_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 270px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ee82ee, #ee82ee);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(139, 35, 139);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.limit_label {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 800;
  color: hwb(300 14% 45%);
}

.start_button {
  width: 100%;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 4.5rem 4.5rem 0 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center !important;
  background-color: hwb(300 14% 45%);
  color: white;
  font-size: 1.5rem;
}

.start_button:hover,
.start_button:focus,
.start_button:visited,
.back_button:hover,
.back_button:focus,
.submit_button:visited,
.submit_button:hover,
.submit_button:focus,
.submit_button:visited,
.scores_button:visited,
.scores_button:hover,
.scores_button:focus,
.scores_button:visited {
  color: white;
  background-color: hwb(300 11% 59%);
}
.button_container {
  width: 270px;
  margin: 0 auto;
}

.back_button,
.submit_button,
.scores_button {
  width: 270px;
  height: 2rem;
  border-radius: 4.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
}

.back_button {
  padding-top: 2px;
  border: 1px solid hwb(300 84% 15%);
}

.back_button-show {
  display: none;
}

.submit_button {
  font-weight: 700;
  background-color: hwb(300 14% 45%);
  color: white;
}
@media screen and (max-width: 442px) {
  .start_button {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-width: 442px) {
  .start_button,
  .back_button {
    width: 270px;
    border-radius: 4.5rem;
  }
}

.select_tags_list {
  margin-top: 2rem;
  height: 70vh;
  overflow-y: scroll;
}

.questionnaire {
  margin-top: 5vh;
}

.questionnaire_container {
  height: 40vh;
}
.questionnaire_number {
  margin: 0 auto;
  text-align: center;
}
.questionnaire_question {
  padding: 1rem;
  text-align: center;
}

.answer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.answer_choice {
  width: 270px;
  padding: 0.6rem 0;
  border: 1px solid rgb(196, 68, 196);
  font-weight: 600;
  cursor: pointer;
}

.answer_choice-wrapped {
  font-size: min(0.7rem, 28vw);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.answer_choice:hover,
.answer_choice:focus,
.answer_choice:visited,
.selected_answer {
  background-color: rgb(204, 44, 204);
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 1.7rem auto;
}

.pagination_button-next {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0.3rem;
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 600;
  cursor: pointer;
}

.hide_button {
  opacity: 0;
}

.submit_button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.scores_container {
  padding: 3rem;
  z-index: 100;
  border-radius: 0 0 30px 30px;
  background: rgb(133, 18, 133);
  color: white;
}
.scores {
  width: 270px;
  z-index: 10 !important;
  text-align: center;
}

.scores hr {
  margin: 0;
}

.scores_description {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.2rem;
}

.scores_total {
  margin: 0;

  font-size: 2.5rem;
}
.score_image {
  margin-top: 1rem;
}
.score_owl {
  height: 10rem;
  width: 10rem;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-70px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.scores_comment {
  margin: auto;
  font-size: 2rem;
  color: rgb(48, 42, 48);
}

.scores_button {
  margin-bottom: 1rem;
  letter-spacing: 2px;
  background-color: hwb(300 14% 45%);
  color: white;
}

@media screen and (min-width: 992px) {
  .questionnaire_container {
    height: 30vh;
  }
  .questionnaire_question {
    width: 700px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .questionnaire_question {
    font-size: 1.5rem;
  }

  .answer {
    height: 35vh;
  }

  .answer_choice {
    width: 350px;
  }
}
